<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The end?</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ninja_gold/css/ninja.css' %}">
</head>
<body>
    <div id="wrap_over">
        <h1>GAME OVER</h1>
        <div id="end">
            <p>WOMP, WOMP, WOMP...</p><br>
            <p>Well, it appears you have gone broke. You've hade to sell the family farm that has been in the family for four generations. Your wife has left you. Is this the end?</p>
        </div>
        <h2>CONTINUE?</h2>
        <a href="/"><button class="gameover_button">HECK YEAH!</button></a>
        <a href="/no"><button class="gameover_button">No, I'm far too meek</button></a>
        </form>
    </div>  
</body>
</html>